@{
    ViewBag.Title = "Ưu Đãi Tháng 07/2025";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container mt-5">
    <h1 class="text-center mb-4"style="color: #89CFF0;">ƯU ĐÃI CIRCLE K THÁNG 07/2025</h1>

    <p class="text-center text-dark mb-4">
        Khám phá ngay chương trình khuyến mãi cực HOT từ Circle K trong tháng 07 này!
        Nhiều sản phẩm được giảm giá, tặng quà và mua 1 tặng 1 siêu hấp dẫn.
    </p>

    <div class="text-center">
        <img src="~/Content/Image/UuDai_CircleK.png" class="img-fluid shadow rounded" alt="Ưu đãi Circle K Tháng 07/2025">
    </div>

    <p class="text-muted text-center mt-3">
        ⏰ Áp dụng từ 06:00 ngày 01/07/2025 đến 23:59 ngày 31/07/2025 tại tất cả cửa hàng Circle K toàn quốc.
    </p>
</div>
