
@{
    ViewBag.Title = "Chính Sách Bảo Mật";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>Chính Sách Bảo Mật</h2>
<p>Thông tin chính sách bảo mật của Circle K sẽ được trình bày tại đây.</p>


